/* You can add global styles to this file, and also import other style files */
body {
  display: flex;
  background-color: black;
  max-width: 1080px;
  margin: 0 auto;
  flex-direction: row;
  color: white;
}
